@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;

  background: linear-gradient(to right, #ffc700, #ff00b8, #151371);

  box-sizing: border-box;
}

.header {
  margin: 5rem;
  text-align: center;
}

.title {
  font-size: 7rem;
  font-weight: 700;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.logo {
  height: 30rem;
  padding: 1rem 1rem;
}

.wrapper {
  padding: 1rem 1rem;
  text-align: center;
}

.sign-in-txt {
  font-size: 6rem;
  margin-bottom: 4rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-sign-in {
  background-color: #fff;
  color: #777;
}

.btn-sign-out {
  background-color: #ff00b8;
}

.wrapper.welcome {
  min-width: 30%;
}

.welcome-header {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.welcome-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.profile-pic {
  height: 3rem;
  padding-right: 1rem;
}

.form-item {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  display: table;
  border-radius: 20rem;
  border: none;
  outline: none;
}

.form-validation {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.btn-form {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin-bottom: 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1.6rem;
  background-color: #fff;
  color: #777;
  border: none;
  font-family: "Red Hat Display", sans-serif;
  outline: none;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 6rem;
  }

  .container {
    flex-direction: column-reverse;
  }

  .logo {
    margin-top: 10rem;
    margin-bottom: 3rem;
    height: 20vw;
  }

  .logo-wrapper {
    text-align: center;
  }

  .sign-in-txt {
    font-size: 4rem;
  }

  .wrapper.welcome {
    width: 100%;
    padding: 1rem 15rem;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 4rem;
  }

  .welcome-header {
    font-size: 3rem;
  }

  .wrapper.welcome {
    padding: 1rem 5rem;
  }
}
